body{
    background-color: #c1ecec;
}
img{
    width: 500px;
    height: 500px;
    border-radius: 50px;
    border: 4px solid rgb(136, 137, 196);
}
h1{
    text-align: center;
    color: rgb(69, 95, 95);
}